<!-- getting the series of matches -->
<div class="container">
  <div class="my-3">Upcoming</div>
  <div class="row">
    <div class="col">
      <ul class="list-inline">
        <li *ngFor="let tab of tabData" class="list-inline-item">
          <button class="btn btn-outline-primary">{{ tab.name }}</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- getting the numbers of mtaches -->
  <div *ngFor="let tournament of matchesData">
    <li *ngFor="let match of tournament.matches">
      <span>{{ formatDate(match.date) }}</span>
      <span>{{ tournament.event_menu_name }}</span>
      <span>{{ match.match_number_with_format }}</span>
      <span><img [src]="match.t1_flag" alt="{{ match.t1 }}" /></span>
      <span>{{ match.t1 }}</span>
      <span>vs</span>
      <span><img [src]="match.t2_flag" alt="{{ match.t2 }}" /></span>
      <span>{{ match.t2 }}</span>
      <span>{{ match.datetime }}</span>
    </li>
  </div>

  <!-- <div *ngFor="let tournament of matchesData">
    <li *ngFor="let match of tournament.matches">
      <span>{{ formatDate(match.date) }}</span>
      <span>{{ tournament.event_menu_name }}</span>
      <span>{{ match.match_number_with_format }}</span>
      <span><img [src]="match.t1_flag" alt="{{ match.t1 }}" /></span>
      <span>{{ match.t1 }}</span>
      <span>vs</span>
      <span><img [src]="match.t2_flag" alt="{{ match.t2 }}" /></span>
      <span>{{ match.t2 }}</span>
      <span>{{ match.datetime }}</span>
    </li>
  </div> -->
</div>
